div(class='main-footer__container ed-container')
	div(class='main-footer__item ed-item m-50 l-1-3 lg-25')
		a(href="#"): img(src="images/logo.svg", alt="footer logo", class='main-footer__logo')
		p(class='main-footer__title') BetAnySports l Secure &amp; Trusted  
		p(class='main-footer__description') We are an established and trusted U.S. focused gaming company, specializing in sports, casino, and lottery games. Empowering players nationwide, we redefine gaming with excellence in care, seamless payments, and thrilling experiences, ensuring endless opportunities for more winning moments.
	div(class='main-footer__item ed-item m-50 l-1-3 lg-25')
		p(class='main-footer__menu-title') lorem
		ul(class='main-footer__menu-text')
			-for(let i=1; i<=5; i++)
				li: a(href="#") lorem
	div(class='main-footer__item ed-item m-50 l-1-3 lg-25') 
		p(class='main-footer_menu-title-1') lorem
		ul(class='main-footer__menu-text')
			-for(let i=1; i<=5; i++)
				li: a(href="#") lorem
	div(class='main-footer__item ed-item m-50 l-1-3 lg-25')
		p(class='main-footer_menu-title-1') lorem
		ul(class='main-footer__menu-text')
			-for(let i=1; i<=5; i++)
				li: a(href="#") lorem
	div(class='main-footer__item ed-item m-1-3') lorem
	div(class='main-footer__item ed-item m-1-3') lorem
	div(class='main-footer__item ed-item m-1-3') lorem
	div(class='main-footer__item ed-item m-50') lorem
	div(class='main-footer__item ed-item m-50') lorem
