div(class='main-footer__container ed-container')
	div(class='main-footer__item ed-item l-50 lg-1-3 xl-40 s-order-5 m-order-1')
		a(href="#"): img(src="images/logo.svg", alt="footer logo", class='main-footer__logo')
		p(class='main-footer__title') BetAnySports l Secure &amp; Trusted  
		p(class='main-footer__description') We are an established and trusted U.S. focused gaming company, specializing in sports, casino, and lottery games. Empowering players nationwide, we redefine gaming with excellence in care, seamless payments, and thrilling experiences, ensuring endless opportunities for more winning moments.
	div(class='main-footer__item ed-item m-50 l-50 lg-1-3 xl-20 s-order-2 m-order-2')
		p(class='main-footer__menu-title') About
		ul(class='main-footer__menu-text')
			li: a(href="#") Affiliates Club
			li: a(href="#") Promotions
	div(class='main-footer__item ed-item m-50 l-50 lg-1-3 xl-20 s-order-3 m-order-3')
		p(class='main-footer__menu-title') Regulations
		ul(class='main-footer__menu-text')
			li: a(href="#") Rules and Policies
			li: a(href="#") Privacy Policy
			li: a(href="#") Security Settings
	div(class='main-footer__item ed-item m-50 l-50 xl-20  s-order-1 m-order-4')
		p(class='main-footer__menu-title') Help
		ul(class='main-footer__menu-text')
			li: a(href="#") +1-800-604-5922
			li: a(href="#") Live Chat
			li: a(href="#") cs@betanysports.eu
	div(class='main-footer__item ed-item m-50 xl-1-3 s-order-4 m-order-5')
		p(class='main-footer__menu-title') Connect with us
		ul(class='main-footer__menu-social')
			li: a(href="#"): img(src="images/footer/icon-twitter-x.svg", alt="")
			li: a(href="#"): img(src="images/footer/icon-twitter-x.svg", alt="")
			li: a(href="#"): img(src="images/footer/icon-twitter-x.svg", alt="")
	div(class='main-footer__item ed-item m-50 xl-1-3 s-order-7 m-order-6')
		p(class='main-footer__menu-title') Payments
		ul(class='main-footer__menu-text')
			li: a(href="#") Crypto preferred operator
			li: a(href="#") Major Credit Cards accepted
			li: a(href="#") Online banking accepted
	div(class='main-footer__item ed-item m-50 l-100 lg-50 xl-1-3 s-order-7 m-order-7')
		div(class='main-footer__brand-container')
			img(src="images/footer/responsible_gambling.svg", alt="")
			img(src="images/footer/ssl.svg", alt="")
			img(src="images/footer/21.svg", alt="")
	div(class='main-footer__item ed-item l-50 s-order-8 m-order-8')
		p(class='main-footer__disclaimer') 
			|Management reserves the right to confiscate the bonus of any player(s) deemed to be taking advantage of our bonus programs.
			| By accepting a bonus you are confirming that you acknowledge and agree to all rules, policies and restrictions.
	div(class='main-footer__item ed-item l-50 s-order-9 m-order-9')
		p(class='main-footer__disclaimer') Copyright ©2023, BetAnySports. All rights reserved.
	div(class='main-footer__item ed-item s-order-10 m-order-10')
		p(class='main-footer__disclaimer') +21 | T&amp;Cs Apply.
