nav(class='top-nav')
	div(class='top-nav__container')
		a(href="#", class='top-nav__logo-anchor'): img(src="https://betanysports.eu/assets/img/Logo.svg", alt="logo", class='top-nav__logo-img') 
		ul(class='main-menu')
			//- li(class='main-menu__li')
			//- 	a(href="#" class='main-menu__anchor')
			//- 		img(src="images/menu-ico-white.svg", alt="ico", class='main-menu__ico') 
			//- 		| Cashier
			//- 	ul(class='main-sub-menu')
			//- 		li(class='main-sub-menu__li')
			//- 			a(href="#" class='main-sub-menu__anchor') Lorem, ipsum.
			//- 		li(class='main-sub-menu__li')
			//- 			a(href="#" class='main-sub-menu__anchor') Lorem, ipsum.

			//- - for(let i=1; i<=0; i++)
			//- 	li(class='main-menu__li')
			//- 		a(href="#" class='main-menu__anchor')
			//- 			img(src="images/menu-ico-white.svg", alt="ico", class='main-menu__ico') 
			//- 			| Lorem ipsum
			//- li(class='main-menu__li')
			//- 	a(href="#" class='main-menu__anchor')
			//- 		img(src="images/menu-ico-white.svg", alt="ico", class='main-menu__ico') 
			//- 		| horses
			//- 	ul(class='main-sub-menu')
			//- 		li(class='main-sub-menu__li')
			//- 			a(href="#" class='main-sub-menu__anchor') Lorem, ipsum.
			//- 		li(class='main-sub-menu__li')
			//- 			a(href="#" class='main-sub-menu__anchor') Lorem, ipsum.
		div(class='top-nav__btn-container')
			a(href="#", class='top-nav__btn-join') join Now
			a(href="#", class='top-nav__btn-login') login
			span: img(src="images/hamburguer-white.svg", alt="")
