&__container{
	// border: 1px solid white;
	color: white;
	.ed-item{
		// border: 1px solid white;
	}
}
&__item{
	margin-bottom: 25px;
}
&__logo{
	margin-bottom: 15px;
	display: none;
	@include from(m){
		display: block;
	}
}
&__title{
	color: #F4F4F4;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
&__description{
	color: #F4F4F4;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	@include from(xl){
		max-width: 408px;
	}
}
&__menu-title{
	color: #F4F4F4;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin-bottom: 10px;
}
&__menu-text{
	margin: 0;
	padding: 0;
	list-style: none;
}

&__menu-text li{
	margin-bottom: 0;
}

&__menu-text a{
	color: #F4F4F4;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	// border: 1px solid white;
	display: block;
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	transition: color 0.3s ease, font-weight 0.3s ease;
	@include from(l){
		&:hover{
			color: #1bb96b;
			font-weight: 800;
			text-decoration: none;
			.main-footer__menu-ico {
				display: none;
			}
			.main-footer__menu-ico-hover {
				display: block;
			}
		}
	}
}
&__menu-ico{
	margin-right: 10px;
}
&__menu-ico-hover{
	margin-right: 10px;
	display: none;
}
&__menu-social{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

&__menu-social > li{
	margin-right: 15px;
}

&__menu-social > li > a{
	@include from(l){
		&:hover{
			.main-footer__menu-social-ico-hover{
				display: block;
				position: relative;
				top: 3px;
			}
			.main-footer__menu-social-ico{
				display: none;
			}
		}
	}
}
.main-footer__menu-social-ico-hover{
	display: none;
}
.main-footer__menu-social-ico{}
&__disclaimer{
	color: #f4f4f4;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
&__brand-container{ 
	// border: 1px solid white;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@include from(lg){
		justify-content: flex-start;
	}
}
&__brand-container > img{ 
	margin-right: 15px;
}
