/*here start mid-size slider module styles*/

.casino-slider{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	&__item{
		position				: relative;
		text-decoration			: none;		
		width: 100%;
	}
	&__image{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__text-container{
		position: absolute;
		// border: 1px solid yellow;
		bottom: 0;
		width: 100%;
		height: 24%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	&__text-container-title{
		align-self: stretch;
		color: var(--shades-05, var(--Shades-0_5, #F4F4F4));
		text-align: center;
		font-family: Montserrat;
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
		line-height: 132%; /* 29.04px */
		letter-spacing: -0.44px;
		text-transform: uppercase;
	}
	&__text-container-description{
		align-self: stretch;
		color: var(--Shades-2, var(--Shades-2, #DDD));
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 132%; /* 18.48px */
		letter-spacing: 2.8px;
		text-transform: uppercase;
	}
	&__prev, &__next{
		display: none;
		@include from(l){
			display: flex;
			--swiper-navigation-size: 30px;
			--swiper-theme-color	: #1F2024;
			border					: 1px solid white;
			width					: 46px;
			height					: 46px;
			border-radius			: 50%;
			background				: #f3f3f3;
			opacity					: 1;
			transition				: 1s;
			top						:var(--swiper-navigation-top-offset,50%)
		}
		&:hover{
			border: 2px solid blue;
		}
	}

	&__prev::after{
		font-size: 20px;
		color: #515151 ;
		font-weight: bold;
	}
	&__next::after{
		font-size: 20px;
		color: #515151 ;
		font-weight: bold;
	}
	.swiper-button-disabled{ 
		opacity: 1 !important;
		pointer-events: auto !important;
	}
}
/*here finish mid-size slider module styles*/
