.promos-top-banner{
	margin: 40px auto;
	width: 100%;
	max-width: 1600px;
	overflow: hidden;
	background: radial-gradient(46.5% 73.69% at 42.48% 15.71%, #2A3CDA 1%, #131F9C 100%);
	display: flex;
	flex-direction: column;
	padding: 40px 0 0 0;
	@include from(m){
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 0 0 0;
		
	}
	@include from(l){
		border-radius: 30px;
	}
	&__item{
		@include from(m){
			width: 50%;
		}
	}
	&__info-container{
		display: flex;
		flex-direction: column;
		@include fromTo(s,m){
			padding-right: 15px;
		}
	}
	&__item:nth-child(1){
		display: flex;
		align-items: center;
		padding-right: 15px;
	}
	&__img-label{
		margin-bottom:20px;
		width: 230px;
		height: 29px;
		margin-bottom:20px;
		@include from(m){
			margin-bottom:40px;
			width: 251px;
			height: 32px;
		}

	}
	&__label-1{
		margin-bottom:20px;
		margin-left:15px;
		display: block;
		color: var(--Color-Alias-Text-Inverted, #F4F4F4);
		text-shadow: 5px 5px 10px rgba(0, 7, 15, 0.25);
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 800;
		line-height: 132%; /* 21.12px */
		letter-spacing: 4.8px;
		text-transform: uppercase;
		@include from(l){
			margin-left:40px;
		}
	}
	&__label-2{
		margin-bottom:20px;
		margin-left:15px;
		display: block;
		text-shadow: 5px 5px 10px rgba(0, 7, 15, 0.25);
		font-family: Montserrat;
		font-size: 54px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%; /* 77px */
		letter-spacing: -0.77px;
		background: var(--Gradient-Gold-NEW-AA, linear-gradient(97deg, #E0AC42 5.53%, #E0AC42 5.53%, #EED688 28.91%, #FFFBCC 55.82%, #E0AC42 93.77%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include from(m){
			font-size: 25px;
		}
		@include from(l){
			font-size: 50px;
			margin-left:40px;
		}
		@include from(xl){
			font-size: 77px;
		}
	}
	&__label-3{
		margin-bottom:20px;
		margin-left:15px;
		display: block;
		align-self: stretch;
		color: var(--Color-Alias-Text-Inverted, #F4F4F4);
		text-shadow: 5px 5px 10px rgba(0, 7, 15, 0.25);
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 31.2px */
		letter-spacing: -0.26px;
		@include from(l){
			margin-left:40px;
			font-size: 26px;
		}
	}
	&__label-4{
		margin-bottom:20px;
		margin-left:15px;
		display: block;
		align-self: stretch;
		color: var(--Color-Alias-Text-Inverted, #F4F4F4);
		text-shadow: 5px 5px 10px rgba(0, 7, 15, 0.25);
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 180%; /* 32.4px */
		letter-spacing: -0.18px;
		@include from(l){
			margin-left:40px;
			font-size: 18px;
		}
	}
	&__cta{
		margin: 0 0 0 15px;
		width: 100%;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		background: var(--Gradient-Green, linear-gradient(180deg, #1BB96B 0%, #007102 100%));
		color: var(--Color-Alias-Text-Inverted, #F4F4F4);
		text-align: center;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 90%; /* 16.2px */
		letter-spacing: -0.18px;
		text-transform: uppercase;
		@include fromTo(s,m){
			margin-bottom: 40px;
			font-size: 18px;
		}
		@include from(m){
			width: 220px;
			height: 34px;
			font-size: 14px;
		}
		@include from(l){
			width: 220px;
			height: 48px;
			font-size: 16px;
		}
	}
	&__item:nth-child(2){
		display: flex;
		justify-content: center;
		align-items: flex-end;
		@include from(m){			
			justify-content: flex-end;
		}
	}
	&__image{
		width: 100% !important;
		max-width: none !important;
	}
}
