extends ../config/template 
append config
	-currentPage		= "betanysports"
	-siteName			= 'Homebetanysports'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../internal-modules/bas-slider
	include ../internal-modules/home-promo-slider
	include ../internal-modules/betting-slider
	include ../internal-modules/choose-slider
	include ../internal-modules/casino-slider
block main-footer
block scripts
