extends ../config/template 
append config
	-currentPage		= "betanysports"
	-siteName			= 'Site'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
block scripts 




