extends ../config/template 
append config
	-currentPage		= "betanysports"
	-siteName			= 'Site'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	//- include ../internal-modules/promos-top-banner-1
	
	include ../internal-modules/promos-mid-text-banner
	include ../internal-modules/promos-on-demand
block scripts 




