div(class='accordion-on-demand')
	-for(let i=1; i <= 8; i++)
		article(class='accordion-on-demand__wrapp')
			div(class='accordion-on-demand__title-container')
				div(class='accordion-on-demand__title-container-item')
					img(src="images/promos/promo_1.webp", class='accordion-on-demand__img', alt="")
				div(class='accordion-on-demand__title-container-item')
					h3(class='accordion-on-demand__title') Less Juice Bonus:
					p(class='accordion-on-demand__sub-title') Pay Half on Every Bet
					p(class='accordion-on-demand__description') Why pay full price when you can enjoy reduced juice odds? Slash commissions by up to 50% when selecting the “Less Juice” options on NFL, College Football, NBA, College Basketball, WNBA, MLB Baseball &amp; NHL Hockey.
					span(class='accordion-on-demand__show-label') show More
			div(class='accordion-on-demand__panel')
				img(src="images/promos/promo-icon.webp", class='accordion-on-demand__promo-icon ', alt="")
				div(class='accordion-on-demand__panel-container')
					p BetAnySports players consider the Less Juice Package the best sportsbook rewards received, as it represents a significant saving over time. Some of our most active regular have noted that these rewards can amount to thousands over the course of a regular sporting season.
					h5 Bet bigger with less
					p The industry standard for juice requires a player to normally risk $110 for every $100 they would want to win on a wager. With BetAnySports Less Juice a player risks less and wins more. BetAnySports has the widest variety of Less Juice options saving you money every time you bet. 
					p  BetAnySports Less Juice offerings on football and basketball include 10-cent sides and 10-cent totals (-105 pricing). When wagering at -105 odds you are wagering $105 to win $100. This amounts to reduced juice of 50% when compared to standard -110 odds.
					h5 Less Juice leagues:
					p BetAnySports players can take advantage of reduced juice odds with our "Less Juice Bonus" across a variety of leagues including NFL, College Football, NBA, College Basketball, WNBA, MLB Baseball, and NHL Hockey.
					h5 Know your boundaries
					ul 
						li Less Juice offerings are available in straight wager format and these lines are generally posted on the day of the event. Less Juice lines are not available for Parlays, Teasers or If Bets.
						li Wagering Limits for Less Juice promotional lines range from $1 to $500. 
						li New accounts opting for alternative promotions lose Less Juice benefits. Accounts without deposit bonus requests default to Less Juice, capped at $500 per wager.
