div(class='accordion-limit-edition')
	-for(let i=1; i <= 2; i++)
		article(class='accordion-limit-edition__wrapp')
			div(class='accordion-limit-edition__title-container')
				div(class='accordion-limit-edition__title-container-item')
					img(src="images/promos/img_item.webp", class='accordion-limit-edition__img', alt="")
				div(class='accordion-limit-edition__title-container-item')
					h3(class='accordion-limit-edition__title') Spindependence Day Raffle: Celebrate the 4th of July With a Bang
					p(class='accordion-limit-edition__description') Fireworks, freedom and free spins.! Get ready to celebrate Independence Day in style with our red, white and blue Spindependence event. 
					p(class='accordion-limit-edition__description') This year we are celebrating the 4th of July in style. Visit our Classic Casino, between July 1st and July 3rd to play our slot game “Spins of Independence” to claim a ticket for our $5,000 raffle.
					span(class='accordion-limit-edition__show-label')
						| show More
						img(src="images/arrow-down.svg", class='accordion-limit-edition__show-ico' alt="arrow")
			div(class='accordion-limit-edition__panel')
				img(src="images/promos/promo-icon.webp", class='accordion-limit-edition__promo-icon ', alt="")
				div(class='accordion-limit-edition__panel-container')
					-for(let i=1; i <= 10; i++)
						h3 Lorem, ipsum dolor.
						p Lorem ipsum dolor sit amet consectetur adipisicing 
							| elit. Pariatur dolorum minus earum totam nobis deserunt sed illo eveniet 
							| possimus. Adipisci, tempore! Architecto repudiandae, nulla facere veniam minima nemo dolore impedit.
						p Lorem ipsum dolor sit amet consectetur adipisicing 
							| elit. Pariatur dolorum minus earum totam nobis deserunt sed illo eveniet 
							| possimus. Adipisci, tempore! Architecto repudiandae, nulla facere veniam minima nemo dolore impedit.
