div(class='accordion-rules')
	-for(let i=1; i <= 4; i++)
		article(class='accordion-rules__wrapp')
			div(class='accordion-rules__title-container')
				h3(class='accordion-rules__title') Less Juice Bonus:
			div(class='accordion-rules__panel')
				div(class='accordion-rules__panel-container')
					-for(let i=1; i <= 1; i++)
						h5 What is the Offer?
						p Every new account is automatically enrolled in our top promotion package, The Less Juice Package. If Cash Bonuses, Rebates, or any other promotion package better suits your preferences, contact Customer Service to verify your eligibility to switch programs. Any switch request after payouts must cover or exceed the total paid-out amount with deposits to be considered for a promotion program switch. Management reserves the right to deny any promotion package switch at its discretion.
						ul 
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, blanditiis?
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, blanditiis?
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, blanditiis?
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, blanditiis?
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, blanditiis?\
						h5 What is the Offer?
						p Every new account is automatically enrolled in our top promotion package, The Less Juice Package. If Cash Bonuses, Rebates, or any other promotion package better suits your preferences, contact Customer Service to verify your eligibility to switch programs. Any switch request after payouts must cover or exceed the total paid-out amount with deposits to be considered for a promotion program switch. Management reserves the right to deny any promotion package switch at its discretion.
