div(class='swiper bas-slider')
	div(class='swiper-wrapper bas-slider__wrapper')
		div(class='swiper-slide bas-slider__item') 
			div(class='bas-slider__content')
				video(src="videos/sports_dk.mp4", class="bas-slider__video-dk" autoplay, loop, muted)
				video(src="videos/sports_mb.mp4", class="bas-slider__video-mb" autoplay, loop, muted)
		div(class='swiper-slide bas-slider__item') 
			div(class='bas-slider__content')
				video(src="videos/casino_dk.mp4", class="bas-slider__video-dk" autoplay, loop, muted)
				video(src="videos/casino_mb.mp4", class="bas-slider__video-mb" autoplay, loop, muted)
		div(class='swiper-slide bas-slider__item') 
			div(class='bas-slider__content')
				video(src="videos/lottery_dk.mp4", class="bas-slider__video-dk" autoplay, loop, muted)
				video(src="videos/lottery_mb.mp4", class="bas-slider__video-mb" autoplay, loop, muted)
	div(class='bas-slider__prev swiper-button-prev')
	div(class='bas-slider__next swiper-button-next')
	div(class='bas-slider__pagination swiper-pagination')
