section(class='slider-container')
	h2(class='slider-container__title')
		img(src="images/home/cards.svg", class='slider-container__title-icon' alt="icon title bullet")
		| Betting Options
	div(class='swiper betting-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=6; i++ )
				a(href="https://www.google.com/" class='swiper-slide betting-slider__item')
					img(src="images/home/betting/BettingOptions-Casino-Desktop.webp", class='betting-slider__image', alt="promo_1")
					div(class='betting-slider__text-container')
						h3(class='betting-slider__text-container-title') lotto pro
						p(class='betting-slider__text-container-description') Unlock dreams with just $1 for the chance to win a life altering $90,000 with an unbeatable 90% payout
						span(class='betting-slider__text-container-cta') Explore lotto
		div(class='swiper-button-prev betting-slider__prev')
		div(class='swiper-button-next betting-slider__next')
