section(class='slider-container')
	h2(class='slider-container__title')
		img(src="images/home/cards.svg", class='slider-container__title-icon' alt="icon title bullet")
		| Casino &amp; Live Dealers
	div(class='swiper casino-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=11; i++ )
				a(href="https://www.google.com/" class='swiper-slide casino-slider__item')
					img(src="images/home/casino/Dealer Card-Classic.webp", class='casino-slider__image', alt="promo_1")
					div(class='casino-slider__text-container')
						h3(class='casino-slider__text-container-title') lotto pro
						p(class='casino-slider__text-container-description') Unlock dreams
		div(class='swiper-button-prev casino-slider__prev')
		div(class='swiper-button-next casino-slider__next')
