section(class='slider-container')
	h2(class='slider-container__title')
		img(src="images/home/cards.svg", class='slider-container__title-icon' alt="icon title bullet")
		| All Perks
	div(class='swiper choose-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=10; i++ )
				a(href="https://www.google.com/" class='swiper-slide choose-slider__item')
					img(src="images/home/choose/Perk-BigOffers-Desktop.webp", class='choose-slider__image', alt="promo_1")
					div(class='choose-slider__text-container')
						h3(class='choose-slider__text-container-title') lotto pro
						p(class='choose-slider__text-container-description') Unlock dreams with just
		div(class='swiper-button-prev choose-slider__prev')
		div(class='swiper-button-next choose-slider__next')
