div(class='slider-title')
	div(class='slider-title__title-container')
		h1(class='slider-title__title-head') NFL
div(class='swiper choose-slider')
	div(class='swiper-wrapper')
		-for(let i = 1; i<=6; i++ )
			a(href="https://www.google.com/" class='swiper-slide choose-slider__item')
				img(src="images/home/choose/Perk-BigOffers-Desktop.webp", class='choose-slider__image', alt="promo_1")
	div(class='swiper-button-prev choose-slider__prev')
	div(class='swiper-button-next choose-slider__next')
