section(class='promos-rules')
	div(class='promos-rules__container')
		div(class='promos-rules__container-title')
			h2(class='promos-rules__title') Rules
			p(class='promos-rules__description')  You can find the rules inside each game, we urge players to review them prior to commencing play.
		include ../internal-modules/accordion-rules
