section(class='promos-mid-text-banner')
	div(class='ed-container')
		div(class='ed-item s-order-2 lg-order-1 lg-40 xl-50 promos-mid-text-banner__item')
			h2(class='promos-mid-text-banner__title') Claim Your Bonuses &amp; Start Winning: Create a BetAnySports Account
			p(class='promos-mid-text-banner__description') Looking to take your sports betting, casino games, and lottery fun to the next level? BetAnySports welcomes new players with thrilling promotions, amazing casino bonuses, and rewarding loyalty programs. Don't miss out on our limited-time offers. Check back weekly for exciting new rewards and promotions across casino, sports betting, and lottery. Join us and experience the excitement.
			a(href="#", class='promos-mid-text-banner__cta') Join now		
		div(class='ed-item s-order-1 lg-order-2 lg-60 xl-50 promos-mid-text-banner__item')
			img(src="images/promos/promo_r_side_img.webp", alt="")

