section(class='promos-on-demand')
	div(class='ed-container promos-on-demand__main-title')
		div(class='ed-item')
			h2(class='promos-on-demand__title') New BetAnySports Promotions (Limited Edition)
	div(class='ed-container')
		div(class='ed-item')
			include ./accordion-on-demand
