section(class='promos-top-banner')
	div(class='promos-top-banner__item')
		div(class='promos-top-banner__info-container')
			img(src="images/promos/promos-top-banner-label.svg", alt="limited time" ,class='promos-top-banner__img-label')
			span(class='promos-top-banner__label-1') Empire CASINO
			span(class='promos-top-banner__label-2') 10% Cash Back on&nbsp;Loses
			span(class='promos-top-banner__label-3') JUL 8th - 14th
			span(class='promos-top-banner__label-4') Play in Empire Casino: Fury of Zeus, Gods of Luxor, Ganesh&nbsp;Blessing.
			a(href="#", class='promos-top-banner__cta') Apply now
	div(class='promos-top-banner__item')
		picture
			source(srcset='images/promos/promos-top-banner-image-dk.webp', alt='', media='(min-width:1280px)')
			source(srcset='images/promos/promos-top-banner-image-tb.webp', alt='', media='(min-width:640px)')
			img(class='promos-top-banner__image' src="images/promos/promos-top-banner-image-dk.webp", alt='')
