section(class='promos-limited-edition')
	div(class='ed-container promos-limited-edition__main-title')
		div(class='ed-item m-50')
			h2(class='promos-limited-edition__title') New BetAnySports Promotions (Limited Edition)
		div(class='ed-item m-50')
			p(class='promos-limited-edition__description') Seize the moment with our limited-time promotions before they expire. At BetAnySports, we love celebrating special occasions by giving back to our loyal customers. Don't miss out on these exclusive offers—join the excitement today.
	div(class='ed-container')
		div(class='ed-item')
			include ./accordion-limit-edition
