section(class='promos-top-banner-1')
	img(src="images/promos/promo_img_banner.webp", alt="top-banner-image", class='promos-top-banner-1__img')
	div(class='promos-top-banner-1__container')
		span(class='promos-top-banner-1__sub-title') Introducing
		h1(class='promos-top-banner-1__title') 
			| BetAnySports Promotions and Offers
