section(class='promos-top-banner')
	img(src="images/promos/promo_img_banner.webp", alt="top-banner-image", class='promos-top-banner__img')
	div(class='promos-top-banner__container')
		span(class='promos-top-banner__sub-title') Introducing
		h1(class='promos-top-banner__title') 
			| BetAnySports Promotions and Offers
