section(class='promos-mid-text')
	div(class='ed-container')
		div(class='ed-item l-50 promos-mid-text__item')
			h2(class='promos-mid-text__title') Welcome to Winning with BetAnySports Promotions and Offers			
		div(class='ed-item l-50 promos-mid-text__item')
			p(class='promos-mid-text__description') 
				| BetAnySports is your one-stop shop for all your betting needs, whether 
				| it's casino games, sports betting, or lottery thrills. We’re all about 
				| making your experience fun and rewarding, offering unique sportsbook promotions, 
				| casino bonuses, and lottery deals. With always-on offers, big promotions, and limited-time 
				| specials, there's something new every day. Plus, our friendly customer service team 
				| is available 24/7 to answer any questions and guide you through our full lineup of bonuses 
				| and rewards. At BetAnySports, we have something for everyone.

