*,
*::before,
*::after {
	box-sizing							: border-box;
}
body{
	margin-top: 71px;
}
::selection {
	color: white;
	background: #9e852e;
}
:root {
	--boder-layout						: steelblue;		// border color to see the layout
	--boder-layout-fixed				: red;				// border color to see the layout in fixed elements
}

.main-container{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.main-footer {
	position: relative;
	padding: 40px 0;
	background-color: #192666;
	@import "../core-modules/main-footer";
}
